<!-- jstemplates/clusterconsole.html  -->
<script type="text/template" id="template-master">
<div class="panel-heading">
    <h4 class="panel-title">
        <%= master_name %>
    </h4>
</div>
<div class="panel-body">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Status</strong> :
            <%= st_status %> ( <%= status %> )
        </li>
        <li class="list-group-item">
            <strong>Keys</strong>
            <% 
function isEmptyObject(obj) {
  for(var prop in obj) {
    if (Object.prototype.hasOwnProperty.call(obj, prop)) {
      return false;
    }
  }
  return true;
}
if( isEmptyObject(key_pairs) ){
    print( "None");
} else {
    print('<ul class="list-group">');
    for( var prop in key_pairs ){
        print( '<li class="list-group-item">');
        print( '<strong>' + prop + '</strong> ' );
        print( key_pairs[prop] );
        print( '</li>' );
    }
    print('</ul>');
}
            %>
        </li>
        <li class="list-group-item">
            <strong>Created</Strong> :
            <% 
            print((new Date(date_created)).toLocaleString());
             %>
        </li>

        <li class="list-group-item">
            <strong>AWS Region</Strong> :
            <%= aws_region %>
        </li>
    </ul>
</div>
</script>

<script type="text/template" id="template-cluster-row-master">
<td>
<button type="button" class="btn btn-default btn-xs master-info">
  <span class="glyphicon glyphicon-info-sign"></span></button>
</td>
<td>
 <%= master_name %>

</td>
<td><%= aws_region  %></td>
<td>
            <% 
            print((new Date(date_created)).toLocaleDateString());
             %>
</td>
<td><%= st_status %></td>
<td>  
<div class="btn-group">
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
</td>
</script>

<script type="text/template" id="template-cluster-row-worker">
<td>
    <button type="button" class="btn btn-default btn-xs worker-info">
        <span class="glyphicon glyphicon-info-sign"></span>
    </button>
</td>
<td>
    <%= cluster_name %>
</td>
<td>
    <%= cluster_type %>
</td>
<td>
    <%= aws_region %>
</td>
<td>
    <%= st_status %>
</td>
<td>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
</td>
</script>

<script type="text/template" id="template-worker">
<div class="panel-heading">
    <h4 class="panel-title">
        <%= cluster_name %>
    </h4>
</div>
<div class="panel-body">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Status</strong> :
            <%= st_status %> ( <%= status %> )
        </li>

        <li class="list-group-item">
            <strong> Type </strong>:
            <%= cluster_type %> 
            <a href="/cm/managedefaultworker">
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>
        </li>
        <li class="list-group-item">
            <strong>AWS Region</Strong> :
            <%= aws_region %>
        </li>
       
        <li class="list-group-item">
            <strong>Nodes( <%= num_nodes %> )</strong>
            <%= nodes.join(', ') %>
        </li>
        <li class="list-group-item">
            <strong>Created</Strong> :
            <% 
            print((new Date(date_created)).toLocaleString());
             %>
        </li>
        <li class="list-group-item">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" 
                        href="#collapse-starcluster-settings">
                        Starcluster Settings
                    </a>
                </div>    
                <div id="collapse-starcluster-settings" 
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Instance Type</strong>
                                <%= starcluster_config.node_instance_type %>
                            </li> 
                            <li class="list-group-item">
                                <strong>Spot Bid</strong>
                                <%= starcluster_config.spot_bid %>
                            </li> 
                            
                            <li class="list-group-item">
                                <strong>Cluster Size</strong>
                                <%= starcluster_config.cluster_size %>
                            </li> 
                            <li class="list-group-item">
                                <strong>AMI</strong>
                                <%= starcluster_config.node_image_id %>
                            </li> 
                            <li class="list-group-item">
                                <strong>IAM Profile</strong>
                                <%= starcluster_config.iam_profile %>
                            </li> 
                            <li class="list-group-item">
                                <strong>Plugins</strong>
                                <%= starcluster_config.plugins%>
                            </li> 
                            <li class="list-group-item">
                                <strong>Key</strong>
                                <%= starcluster_config.key_name %> 
                                (<%= starcluster_config.key_location %>)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</script>
<script type="text/template" id="template-defaultworker-dropdown">
<li class="add-cluster-list-element">
    <a href="#" class="add-cluster">
        <span class="glyphicon glyphicon-plus"></span> 
        <%= cluster_type %>
    </a> 
    (<%=aws_region%>)
</li>
</script>
<script type="text/template" id="template-worker-empty">
<div class="panel-body" id="worker-empty">
    <%= message %>
</div>
</script>
