{%extends 'layout.html' %}
{% block title %} Cluster management {% endblock %}
{% block content %}
<script type="text/javascript">
AWS.config.credentials = new AWS.WebIdentityCredentials({
        RoleArn: "arn:aws:iam::315557446885:role/tcdiracwebRoleGoogle",
    }); 
AWS.config.region = 'us-east-1';
AWS.config.credentials.params.WebIdentityToken = "{{session['id_token']}}";
AWS.config.sslEnabled = true;
//globals
g_instance_id = '{{ instance_id }}';
g_scgenerate_url = '{{ url_for('scgenerate_config') }}';
</script>
<script type="text/javascript" src="{{
    url_for('static', filename='js/clustermain.js')
}}"></script>

<style>
    form#cluster_config {
        padding: 10px;
    }
    form span.default-value {
        font-style: italic;
    }
    tr.log_row {
        hidden: true;
    }

    textarea.logs {
        width:100%;
    }
</style>
<div class="row">
    <div class="col-md-12 page-header">
        <h1>Cluster management console</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    <form role="form" id="cluster_config">
        <label for="cluster_type">Cluster Type</label>
        <select  class="form-control" name="cluster_type" id="cluster_type">
            <option value="data" selected>Data Cluster</option>
            <option value="gpu">GPU Cluster</option>
        </select>
        <label for="cluster_prefix">Cluster prefix <span  class="default-value" id="default-cluster_prefix"></span></label>
        <input type="text" class="form-control" id="cluster_prefix"
        name="cluster_prefix" placeholder="Prefix for cluster name">
        <label for="spot_bid">Choose spot bid price <span class="default-value" id="default-spot_bid"></span></label>
        <input type="text" class="form-control" name="spot_bid" id="spot_bid" placeholder="Spot Bid">
        <label for="region">Choose region<span id="default"></span></label>
        <select  class="form-control" name="region" id="region">
            <option>us-east-1</option>
            <option>us-west-1</option>
            <option>us-west-2</option>
        </select>
        <label>
        <input type="checkbox" name="force_spot_master" id="force_spot_master"/> Make cluster master a spot instance
        </label>
        <button type="button" id="config-button"class="btn btn-default">Configure new cluster</button>
        
        
    </form>
</div>
<div class="panel panel-default col-md-8">
     <div class="panel-heading">Clusters</div>
     <table id="cluster-table" class="tablesorter table-hover" width=100%>
         <thead>
             <tr>
                 <th>Name</th>
                 <th>Type</th>
                 <th>Region</th> 
                <th>Start Cluster</th>
                <th>Scratch</th>
                <th>Info</th>
             </tr>
        </thead>
        <tbody id="cluster-body">
        </tbody>
     </table>
</div>
</div> 
<!-- row -->
{% endblock %}
