{%extends 'layout.html' %}
{% block title %} Cluster management {% endblock %}
{% block headjs %}
{{ super() }}
{% include 'jstemplates/clusterconsole.html' %}
<script type="text/javascript" src="{{ 
    url_for('static', filename='js/views/clusterconsole.js') }}"></script>
<script type="text/javascript" src="{{ 
    url_for('static', filename='js/models/defaultworker.js') }}"></script>
<script type="text/javascript" src="{{ 
    url_for('static', filename='js/models/master.js') }}"></script>
<script type="text/javascript" src="{{ 
    url_for('static', filename='js/models/worker.js') }}"></script>
<script type="text/javascript">
    AWS.config.credentials = new AWS.WebIdentityCredentials({
        RoleArn: "{{ app.config.get('AWS_ROLE_ARN_GOOGLE') }}"
    }); 
    AWS.config.region = 'us-east-1';
    AWS.config.credentials.params.WebIdentityToken = "{{session['id_token']}}";
    AWS.config.sslEnabled = true;
    g_instance_id = '{{ instance_id }}';
    g_scgenerate_url = '{{ url_for('cm.scgenerate_config') }}';
    app = (typeof app !== "undefined" ? app : {});//global app hanger
</script>
{% endblock %}
{% block content %}
<style>
    form#cluster_config {
        padding: 10px;
    }
    form span.default-value {
        font-style: italic;
    }
    tr.log_row {
        hidden: true;
    }
    textarea.logs {
        width:100%;
    }
    tr.clusterRow {
        width:100%;
    }
    td.cluster_name {
        font-style:bold;
    }
</style>
<div class="row">
    <div class="col-md-12 page-header">
        <h1>Console</h1>
    </div>
</div>
<div class="row">
    <div class="btn-group" id="defaultworker-button">
        <button type="button" class="btn btn-default dropdown-toggle" 
            data-toggle="dropdown">
            Add Worker Cluster <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" id="add-cluster-button">
         </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="small-container"></div>
    <div class="panel panel-primary col-md-8" id="large-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Master Name
                    </th>
                    <th>
                        Region
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="master-table">
            </tbody> 
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Cluster Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Region
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="worker-table">
            </tbody> 
        </table>
 </div>
</div>
<script type="text/javascript">
    $(function(){
        var master_model = new Master();
        var master_row = new MasterRow( {model : master_model});
        $('#master-table').append(master_row.render().el);
        var wcv = new WorkerCollectionView( { collection: new WorkerCollection() });
        app.master_model = master_model;
        var dfwbv = new DefaultWorkerButtonView({ collection : new DefaultWorkerCollection(),
                master_model : master_model 
            });
    });
</script>
{% endblock %}
