{%extends 'layout.html' %}
{% block title %} Cluster management {% endblock %}
{% block content %}
{% include 'clustermain-us-templates.html' %}
<script type="text/javascript">
AWS.config.credentials = new AWS.WebIdentityCredentials({
        RoleArn: "arn:aws:iam::315557446885:role/tcdiracwebRoleGoogle",
    }); 
AWS.config.region = 'us-east-1';
AWS.config.credentials.params.WebIdentityToken = "{{session['id_token']}}";
AWS.config.sslEnabled = true;
g_instance_id = '{{ instance_id }}';
g_scgenerate_url = '{{ url_for('scgenerate_config') }}';
</script>
<script type="text/javascript" src="{{
    url_for('static', filename='js/clustermain.js')
}}"></script>

<style>
    form#cluster_config {
        padding: 10px;
    }
    form span.default-value {
        font-style: italic;
    }
    tr.log_row {
        hidden: true;
    }
    textarea.logs {
        width:100%;
    }
    tr.clusterRow {
        width:100%;
    }
    td.cluster_name {
        font-style:bold;
    }
</style>
<div class="row">
    <div class="col-md-12 page-header">
        <h1>Cluster management console</h1>
    </div>
</div>
<div class="row">
<div class="col-md-4" id="cluster-form-container">
</div>
<div class="panel panel-primary col-md-8" id="cluster-table-container">
</div>
<script type="text/javascript">
    ClusterFormView = Backbone.View.extend({
        initialize : function(){
            this.render();
        },
        render : function(){
            var template = _.template($('#cluster-form').html(), {});
            this.$el.html( template )
        }
    });
    var cluster_form = new ClusterFormView({ el: $('div#cluster-form-container') });

</script>
<script type="text/javascript">
var ClusterModel = Backbone.Model.extend({
  defaults : {'log':'None', 
    'active':0,
    'ready':0,
    '_launching':false,
    '_autofetch' : false,
    'display_state': 'default'
    },
  urlRoot:'/cluster',
  idAttribute: "cluster_name",
  initialize : function(){
    this._getLog();
    //don't want all clusters firing at same time
    //so inject a little anarchy
    setInterval( this.autofetch(this), (40 + 30*Math.random())*1000 );
    if( this.get('active') && !this.get('ready') ){
      this.set('_launching', true);
    } else {
      this.set('_launching', false);
    }

    this.bind("change:ready", function(){
        
        if(this.get('ready') == 1){
            this.set('_launching', false);
        }
    });
  },

  launchable : function(){
    return this.get('active') == 0 && !this.get('_launching');
    },
   restartable : function(){
    return this.get('ready') == 1;
   },
   terminatable : function(){
     return this.get('active') == 1;
   },

   startable : function(){
     return this.get('active') == 1;
   },
   startloggable : function(){
     return this.get('active') == 1;
   },
   startgpuable : function(gpu_id){
     return this.get('active') == 1;
   },

   launch : function(){
      if(this.launchable()){
         this.set('display_state', 'warning');
         this.set('_launching', true);
         var c_launch = $.post('/createcluster', 
                 {cluster_name: this.get('cluster_name')});
         var that = this;
         c_launch.done( function( response ){
            if (response['status'] == 'error'){
                show_message('Error', 'Error launching ' +
                  that.get('cluster_name') + '.');
                } else {
                show_message('Info', 'Launching ' +
                   that.get('cluster_name') + '.');
                }
            });
        setTimeout( function(){update_status(); }, 5000);      
       }
   },


  autofetch : function(that){
    if (that.get('_launching')){
      console.log( 'Autofetching ' + that.get('cluster_name'));
      that.refresh();
    }
  },

  terminate :function(){
      if (this.terminatable()){
         if( this.isGPU() ){
              var t_url =  '/gpucluster';
         } else {
              var t_url =  '/datacluster';
         }
         var c_term = $.post(t_url, 
                 {cluster_name: this.get('cluster_name'),
                 component:'terminate'
                 });
         var that = this;
         c_term.done( function( response ){
            if (response['status'] == 'error'){
                show_message('Error', 'Error terminating ' +
                  that.get('cluster_name') + '.');
                } else {
                show_message('Info', 'Terminating ' +
                   that.get('cluster_name') + '.');
                }
                });
         }
         setTimeout( function(){update_status(); }, 5000);      
         console.log(this.get('cluster_name') + ' terminate');
    },
    restart : function(){
      if(this.restartable()){
         if( this.isGPU() ){
              var t_url =  '/gpucluster';
         } else {
              var t_url =  '/datacluster';
         }
         var c_term = $.post(t_url, 
                 {cluster_name: this.get('cluster_name'),
                 component:'restart'
                 });
         var that = this;
         c_term.done( function( response ){
            if (response['status'] == 'error'){
                show_message('Error', 'Error restarting ' +
                  that.get('cluster_name') + '.');
                } else {
                show_message('Info', 'Restarting ' +
                   that.get('cluster_name') + '.');
                }
                });
        setTimeout( function(){update_status(); }, 5000);      
     
        console.log( this.get('cluster_name') + ' restart');
      }
    },
  startLogger : function(){
    if(this.isGPU() && this.startloggable()){
         var c_term = $.post('/gpucluster', 
                 {cluster_name: this.get('cluster_name'),
                  component:'logserver-daemon',
                  action:'start',
                 });
         var that = this;
         c_term.done( function( response ){
            if (response['status'] == 'error'){
                  show_message('Error', 'Error starting gpu-logger' +
                  ' on ' + that.get('cluster_name') + '.');
                } else {
                  show_message('Info', 'Starting gpu-logger' +
                    ' on ' + that.get('cluster_name') + '.');
                }
                });
         setTimeout( function(){update_status(); }, 5000);      
    console.log( this.get('cluster_name')+' startLogger');
    }
  },
  startGPU : function(gid){
    if(this.isGPU() && this.startgpuable(gid)){
        this.actGPU( gid, 'start');
        setTimeout( function(){update_status(); }, 5000);      
    }
  },
             
  actGPU : function( gid, action ){

         var c_term = $.post('/gpucluster', 
                 {cluster_name: this.get('cluster_name'),
                  component:'gpuserver-daemon',
                  action:'start',
                  gid: gid
                 });
         var that = this;
         c_term.done( function( response ){
            if (response['status'] == 'error'){
                show_message('Error', 'Error ' + action + 'ing gpu' + gid +
                  'on ' + that.get('cluster_name') + '.');
                } else {
                show_message('Info', action+'ing gpu' + gid +
                    'on ' + that.get('cluster_name') + '.');
                }
                console.log(response);
                });
      console.log( this.get('cluster_name') + ' startGPU' + gid );
  },
  startDataCluster: function(){
    if(this.isData() && this.startable() ){
       show_message('Error', 'Starting a datacluster server is not supported yet');
      console.log( this.get('cluster_name') + ' startDataCluster' );
    }
  },


  isGPU : function(){
    return this.get("cluster_type") == "gpu";
  },
  isData : function(){
    return this.get("cluster_type") == "data";
  },
  _getLog : function(){
    if( this.get("active") != 0 ){
    var that = this;
                
    var s3 = new AWS.S3;
    var configString = 'None';
    var req = s3.getObject({Bucket:'ndp-adversary', 
        Key: 'logs/sc_startup/' +  g_instance_id + '/' + that.get('cluster_name') + '.log'})
    req.on('error', function(error, response){
        if (error.name == "NoSuchKey"){ 
            configString = 'No log for ' + that.get('cluster_name');
        } else {
            configString = error.message;
        }
        if (that.get('log') != configString){
          that.set('log', configString)
        }
    });
    req.on('success', function(response){
        //testing_var = response;
        //console.log(response);
        configString = response.data.Body.toString();
        that.set('log', remove_header(configString));
    });
    req.send();
  }
  },
setDisplayState : function(){
    if (this.get('ready')){
        this.set('display_state', 'success');
    }
    else if( this.get('active') && !this.get('ready') ){
        this.set('display_state', 'warning');
    }
    else if( !this.get('active') && this.isData() ){
        this.set('display_state', 'primary');
    } else if( !this.get('active') && this.isGPU() ){
        this.set('display_state', 'info');
    }
    /**
      else if( this.get('terminated') ){
        this.set('display_state', 'danger');
      }
    **/
},
refresh : function(){
    this.fetch();
    this.setDisplayState();
    this._getLog();
  }

});

var ClustersModel = Backbone.Collection.extend({
  model: ClusterModel,
  url: '/cluster'

});

var ClustersView = Backbone.View.extend({
  type: "ClustersView",
  template: _.template($('#template-clusters').html()),
  el: "#cluster-table-container",
  _rendered : false,
  table_header: {
    title : 'Cluster Management',
    headers : ['Name', 'Region', 'Size', ' ', ' ', 'Log', ' ' ] 
  },
  initialize: function (){
    this.render();
    _.bindAll.apply(_, [this].concat(_.functions(this)))
    this.collection.bind('add', this.processCluster);
  },
  render : function(){
    if (!this._rendered){
    this._rendered = true;
    var outputHTML = this.template( this.table_header );
    this.$el.append(outputHTML);
    }
    
    return this;
  },
  load: function(){
    this.collection.fetch({
        add: true,
        success: this.loadCompleteHandler,
        error: this.errorHandler
    });
  },  
  loadCompleteHandler: function(){
      console.log('loadCompleteHandler');                     
  },
  errorHandler : function(){
    throw "error loading collection";
  },

  processCluster : function(cluster ){
    if(!this._rendered){
      this.render();
    }
    var myclusterView = new ClusterView({ model: cluster });
    myclusterView.render();
    //console.log(cluster);
    //console.log("processCluster");
    //console.log(myclusterView);
    this.$el.find('tbody#cluster-body').append(myclusterView.el);
  }
});

var ClusterView = Backbone.View.extend({
  type : "ClusterView",
  template: _.template($('#template-cluster').html()),
  tagName: "tr",
  className: "clusterRow",
  url: '/cluster',
  initialize : function(){
    this.clickables();
    this.model.on("change", this.clusterChanged, this);
  },

  clusterChanged: function( model, changes ){
    this.clickables(); 
    
    console.log("clusterChanged:" + model.get("cluster_name"));
    console.log(changes);
    this.checkState();
  },
  events : {
    //cluster actions
    'click .launch': 'launchCluster',
    'click .restart': 'restartCluster',
    'click .terminate': 'terminateCluster',
    //server action
    //gpu
    'click .start-logger': 'startLogger',
    'click .start-gpu0': 'startGPU0',
    'click .start-gpu1': 'startGPU1',
    //data server
    'click .start-data-cluster': 'startDataCluster',

    'click .glyphicon-info-sign': 'setLog',
    'click  .glyphicon-refresh': 'refresh'
  },

  render: function () {
    var outputHtml = this.template(this.model.toJSON());
    this.$el.html(outputHtml);
    this.clickables();
    this.checkState();
    return this;
  },

clickables : function(){
    if(!this.model.launchable()){this.$('li.launch').addClass("disabled");}
    else {this.$('li.launch').removeClass("disabled");
    }

    if(!this.model.restartable()){this.$('li.restart').addClass("disabled");} 
    else { this.$('li.restart').removeClass("disabled"); }

    if( !this.model.terminatable() ){this.$('li.terminate').addClass("disabled");} 
    else { this.$('li.terminate').removeClass("disabled");
    }

    if( this.model.isData() ){
        if(!this.model.startable() ){this.$('li.start-data-cluster').addClass("disabled");} 
        else { this.$('li.start-data-cluster').removeClass("disabled");

        }
    } else {
        if(!this.model.startloggable()){
            this.$('li.start-logger').addClass('disabled');
        } else {
            this.$('li.start-logger').removeClass('disabled');
        }
        if(!this.model.startgpuable(0)){
            this.$('li.start-gpu0').addClass('disabled');
        } else {
            this.$('li.start-gpu0').removeClass('disabled');
        }
        if( !this.model.startgpuable(1) ){
            this.$('li.start-gpu1').addClass('disabled');
        } else {
            this.$('li.start-gpu1').removeClass('disabled');
        }
    }


  },
    
  removeLabels : function( selector ){
      var labels = ['label-default', 'label-primary', 'label-success', 
      'label-info', 'label-warning', 'label-danger'];
       labels.forEach( function( label ){
               //console.log(selector);
       selector.removeClass(label);
      });
      return selector;
  },

  checkState : function(){
     this.model.setDisplayState()
     var state = this.model.get('display_state');
     sel = this.removeLabels( this.$('span.label') );
     sel.addClass( 'label-' +  state  );
  },

  launchCluster: function(){
    this.model.launch();
  },
  restartCluster: function(){
    this.model.restart();
  },
  terminateCluster: function(){
    this.model.terminate();
  },
  startLogger: function(){
    this.model.startLogger();
  },
  startGPU0: function(){
    this.model.startGPU(0);
  },
  startGPU1: function(){
    this.model.startGPU(1);
  },
  startDataCluster: function(){
    this.model.startDataCluster()
                    },
  refresh : function(){
    console.log("refreshing");
    this.model.refresh();
  },              
  setLog : function(){
    $('h4#active-cluster').text( this.model.get('cluster_name') + ' Logs');
    $('textarea.logs')[0].value = this.model.get('log');
  }
});

$(function(){
    clusters_model = new ClustersModel();
    clusters_view = new ClustersView({ collection: clusters_model} );
    clusters_view.load();
});


/**
c = get_clusters();
if(! c.length){
    c = scan_results;
}

clustersa = new ClustersModel(c );
ClusterViewTable = new ClustersView({ collection: clustersa });
ClusterViewTable.render();
**/

</script>
{% endblock %}
