{%extends 'layout.html' %}
{% block title %} Cluster management {% endblock %}
{% block headjs %}
{{ super() }}
{% include 'jstemplates/workerdefault.html' %}
<script type="text/javascript" src="{{
    url_for('static', filename='js/models/defaultworker.js')
}}"></script>
<script type="text/javascript" src="{{ 
    url_for('static', filename='js/views/defaultworker.js') }}"></script>
<script type="text/javascript">
    AWS.config.credentials = new AWS.WebIdentityCredentials({
        RoleArn: "{{ app.config.get('AWS_ROLE_ARN_GOOGLE') }}"
    }); 
    AWS.config.region = 'us-east-1';
    AWS.config.credentials.params.WebIdentityToken = "{{session['id_token']}}";
    AWS.config.sslEnabled = true;
    g_instance_id = '{{ instance_id }}';
    g_scgenerate_url = '{{ url_for('cm.scgenerate_config') }}';
    app = (typeof app !== "undefined" ? app : {});//global app hanger
</script>
{% endblock %}
{% block content %}
<style>
    form#cluster_config {
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-md-12 page-header">
        <h1>Default Worker Cluster Settings</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="cluster-form-container"></div>
    <div class="panel panel-primary col-md-8" id="cluster-table-container"></div>
</div>
<script type="text/javascript">
$(function(){
    var default_worker_collection = new DefaultWorkerCollection();
    var dwv = new DefaultWorkerCollectionView( { el:'#cluster-table-container', 
            collection: new DefaultWorkerCollection() });
    dwv.render();
});

</script>
{% endblock %}
